#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.2beta
Type=Application
Name=AlgoTaurus
Comment=An educational game to teach programming. Write a program to make the AlgoTaurus find the exit.
Exec=algotaurus
Icon=/usr/lib/python2.7/dist-packages/algotaurus/maze.png
Categories=Education;Game;
Terminal=false
StartupNotify=true
StartupWMClass=algotaurus
